.box {
  display: flex;
  justify-content: space-between;
  /*   margin-top: 7%;
  padding-bottom: 30%; */
  /*   height: 100%; */
  min-height: 100vh;
  min-height: calc(100vh - 74px); /* Враховує висоту навігації */
  /* padding: 20px; */
  /*  width: 100%; */
  background-image: url("../../images/Car-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.textContainer {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 260px;
}

.title {
  /*  font-size: 50px; */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 66.667% */
  color: #264246;
  /*  -webkit-text-shadow: 2px 2px 2px #000; */
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 3px 3px 3px #ebe5e5;
}

.text {
  font-size: 24px;
  text-align: start;
  font-weight: 600;
  color: white;
  margin-top: 20px;
}

.linkCatalog {
  height: 56px;
  text-decoration: none;
  color: #ffffff;
  background-color: #e44848;
  padding: 16px 60px;
  border-radius: 200px;
  /* gap: 10px; */
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

.linkCatalog:hover {
  background-color: #8b2323;
}
@media screen and (min-width: 320px) and (max-width: 604px) {
  .box {
    display: block;
  }
  .title {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }

  .imageContainer {
    margin-right: 0;
  }
  .responsiveImage {
    max-width: 90%;
  }

  .textContainer {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 605px) and (max-width: 767px) {
  .responsiveImage {
    max-width: 70%;
  }
  .box {
    display: block;
  }
  .title {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
    text-align: center;
  }

  .imageContainer {
    margin-right: 0;
  }
  .textContainer {
    display: block;
    text-align: center;
  }
}
